<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - NexStore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth-body">
    <div class="auth-box">
        <h1>Criar Conta</h1>
        
        <form method="POST">
            <input type="text" name="name" placeholder="Nome" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Senha" required>
            
            <select name="role">
                <option value="admin">Administrador</option>
                <option value="employee">Funcionário</option>
            </select>
            
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>